# Dataset Information

Million Songs Dataset contains of two files: triplet_file and metadata_file. The triplet_file contains user_id, song_id and listen time. The metadata_file contains song_id, title, release, year and artist_name. Million Songs Dataset is a mixture of song from various website with the rating that users gave after listening to the song.

There are 3 types of recommendation system: content-based, collaborative and popularity.

In [9]:
# import modules

In [1]:
import pandas as pd
import numpy as np

In [10]:
# loading the dataset

In [22]:
df = pd.read_csv('msdchallenge/kaggle_visible_evaluation_triplets.txt', delimeter = '\t')

TypeError: read_csv() got an unexpected keyword argument 'delimeter'

In [8]:
df

        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d\tSOBONKR12A58A7A7E0\t1
0        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d\tSOEG...
1        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d\tSOFL...
2        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d\tSOHT...
3        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d\tSODQ...
4        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d\tSOXL...
...                                                    ...
1450927  5e650759ebf89012044c6d52121eeada8b0ec814\tSOVL...
1450928  5e650759ebf89012044c6d52121eeada8b0ec814\tSOVD...
1450929  5e650759ebf89012044c6d52121eeada8b0ec814\tSOBR...
1450930  5e650759ebf89012044c6d52121eeada8b0ec814\tSOMG...
1450931  5e650759ebf89012044c6d52121eeada8b0ec814\tSOTC...

[1450932 rows x 1 columns]

In [12]:
df = pd.read_csv('msdchallenge/taste_profile_song_to_tracks.txt')

In [13]:
df

        SOAAADD12AB018A9DD\tTRNCENP12903C9EF3A
0       SOAAADE12A6D4F80CC\tTRSKKFK128F148B615
1       SOAAADF12A8C13DF62\tTRCQMSP128F428A6F7
2       SOAAADZ12A8C1334FB\tTRMDNZY128F425A532
3       SOAAAFI12A6D4F9C66\tTRZEXLQ128F1491D17
4       SOAAAGK12AB0189572\tTRDZUFJ12903CE29FC
...                                        ...
386207  SOZZZRJ12AB0187A75\tTRTMMRY12903CDE19D
386208  SOZZZRV12A8C1361F1\tTRCEWAR128F425D1B6
386209  SOZZZSR12AB01854CD\tTRPUDMM128F9308E1C
386210  SOZZZWD12A6D4F6624\tTRJMEUS128F1458975
386211  SOZZZWN12AF72A1E29\tTRLAYKX128F92E728C

[386212 rows x 1 columns]

In [20]:
header = ['user_id', 'song_id', 'listen_count']
triplet_df = pd.read_csv('msdchallenge/kaggle_visible_evaluation_triplets.txt', delimiter = '\t', names = header)

In [21]:
triplet_df.head()

                                    user_id             song_id  listen_count
0  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOBONKR12A58A7A7E0             1
1  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOEGIYH12A6D4FC0E3             1
2  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOFLJQZ12A6D4FADA6             1
3  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOHTKMO12AB01843B0             1
4  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SODQZCY12A6D4F9D11             1

In [23]:
pd.read_csv?