### Import Library

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

### Data Acquisition

In [26]:
review_df = pd.read_excel("../Datasets/digikala_farsi/Users_Comments.xlsx")
order_hist_df = pd.read_excel("../Datasets/digikala_farsi/Customer_Purchase_History.xlsx")
prod_quality_df = pd.read_excel("../Datasets/digikala_farsi/Product_Quality.xlsx")
prod_hist_df = pd.read_csv("../Datasets/digikala_farsi/Product_History.csv")
prod_df = pd.read_excel("../Datasets/digikala_farsi/Product_List.xlsx")

In [32]:
print(prod_df.columns)
print(prod_hist_df.columns)
print(prod_quality_df.columns)
print(order_hist_df.columns)
print(review_df.columns)

Index(['id', 'product_title_fa', 'product_title_en', 'url_code', 'title_alt',
       'category_title_fa', 'category_keywords', 'brand_name_fa',
       'brand_name_en', 'product_attributes'],
      dtype='object')
Index(['id;product_variant_id;selling_price;rrp_price;base_price;buy_price;order_limit;start_at;end_at;tags;show_in_price_history;active;created_at;product_id;marketplace_seller_id'], dtype='object')
Index(['product_id', 'confirmed_at', 'comment'], dtype='object')
Index(['order_id', 'user_id', 'variant_id', 'product_id', 'quantity', 'price',
       'date', 'city_id', 'city_name', 'state_id', 'state_name'],
      dtype='object')
Index(['product_id', 'product_title', 'title_en', 'user_id', 'likes',
       'dislikes', 'verification_status', 'recommend', 'title', 'comment',
       'advantages', 'disadvantages'],
      dtype='object')

In [33]:
prod_df.head()

,id,product_title_fa,product_title_en,url_code,title_alt,category_title_fa,category_keywords,brand_name_fa,brand_name_en,product_attributes
0,723302,ماگ حرارتی لومانا مدل عرفانه کد MAG1042,NaN,ماگ-حرارتی-لومانا-مدل-عرفانه-کد-mag1042,mug، لیوان ، ماگ ، فنجان ، لیوان دسته دار ، لو...,ماگ، لیوان و فنجان,ماگ، لیوان و فنجان CupandMug,لومانا,Lomana,"[{""Key"":""وزن بسته‌بندی"",""Value"":""480""},{""Key"":..."
1,727089,ست آبکش و آبگیر تیتیز مدل AP-9141 سایز متوسط,NaN,ست-آبکش-و-آبگیر-تیتیز-مدل-ap-9141-سایز-متوسط,";hsi, steel, کاسه، کاسه بامبو، لگن، کالا خانه ...",آبکش و آبگیر,آبکش و آبگیر VirgoBasin,تیتیز,Titiz,"[{""Key"":""دستگیره"",""Value"":""1 جفت""},{""Key"":""نوع..."
2,727096,روغن مرطوب کننده کدلی مدل Divine oil حجم 50 می...,NaN,روغن-مرطوب-کننده-کدلی-مدل-divine-oil-حجم-50-می...,NaN,روغن صورت,روغن صورت Face-Oil,کدلی,CAUDALIE,"[{""Key"":""حجم"",""Value"":""50""},{""Key"":""نوع عصاره""..."
3,727803,ست لحاف پوپلین هوبی مدل اما یکنفره چهار تکه کاوری,Hobby Emma Quilt Single Set - 4 Pieces,ست-لحاف-پوپلین-هوبی-مدل-اما-یکنفره-چهار-تکه-کاوری,روتختی اسپرت، اما، emma، روتختی یکنفره، لحاف ی...,سرویس خواب,سرویس خواب SleepSet,هوبی,Hobby,"[{""Key"":""ابعاد رو بالشی"",""Value"":""50×70""},{""Ke..."
4,725222,ماگ آبنبات رنگی مدل AR0143,NaN,ماگ-آبنبات-رنگی-مدل-ar0143,ماگ آبنبات رنگی،شذدشذشفقشدله،Mag Abnabatrangi,ماگ، لیوان و فنجان,ماگ، لیوان و فنجان CupandMug,متفرقه,Miscellaneous,"[{""Key"":""در"",""Value"":""ندارد""},{""Key"":""جنس"",""Va..."

In [8]:
review_df.drop(labels=[])

,product_id,product_title,title_en,user_id,likes,dislikes,verification_status,recommend,title,comment,advantages,disadvantages
0,3692,ماوس بی‌سیم لاجیتک مدل M325,IT,989472,0,0,verified,\N,NaN,واقعا عالیه. من که ازش خیلی راضیم,NaN,NaN

In [9]:
review_df[review_df['product_id'] == 3692]

,product_id,product_title,title_en,user_id,likes,dislikes,verification_status,recommend,title,comment,advantages,disadvantages
0,3692,ماوس بی‌سیم لاجیتک مدل M325,IT,989472,0,0,verified,\N,NaN,واقعا عالیه. من که ازش خیلی راضیم,NaN,NaN
56908,3692,ماوس بی‌سیم لاجیتک مدل M325,IT,2813503,0,0,verified,recommended,فوق العادس,سال 95 خریدم و هنوز دارم استفاده میکنم . روزی ...,"[""خوش دست و کاربردی \r"",""مناسب برای گیم\r"",""مق...",NaN

In [12]:
review_df.sort_values(by=['likes'], ascending=False)

,product_id,product_title,title_en,user_id,likes,dislikes,verification_status,recommend,title,comment,advantages,disadvantages
21288,698313,لپ تاپ 11 اینچی لنوو مدل Yoga 300-11IBR N3060,IT,5529208,854,21,verified,\N,واقعا خوبه,سلام این لب تاپ رو دو روز پیش خریدم ، واقعا بر...,NaN,NaN
17133,698313,لپ تاپ 11 اینچی لنوو مدل Yoga 300-11IBR N3060,IT,1199400,777,35,verified,\N,عالی,بهترین خرید برای پرزنت های کاری\r\nبهترین دستگ...,NaN,NaN
55079,818885,گوشی موبایل بلو مدل Grand M2 دو سیم کارت,MO,7538224,495,15,verified,\N,مزخرف,در صورتی که نیاز دارید تا پولتان را در سطل زبا...,"[""هیچی""]","[""همه چی""]"
27624,643764,مچ بند هوشمند شیائومی مدل Mi Band 3,PA,990392,478,10,verified,recommended,تجربه,نظرمو بعد از چند وقت کار کردن با این دست بند م...,NaN,NaN
55040,817489,گوشی موبایل اپل مدل iPhone XS Max دو سیم‌ کارت...,MO,7967836,390,253,verified,\N,iphone XS Max,یه لحظه شیطن گولم زد با note 9 مقایسش کنم دیدم...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
53174,348140,اسپیکر بلوتوثی قابل حمل پرومیت مدل Rustic-3,IT,5553521,0,4,verified,no_idea,یه اسپیکر معمولی,یه اسپیکر کاملا معمولی با کیفیت ساخت خوب، باتر...,"[""خوش ساخت\r"",""باتری خوب""]","[""صداش 10 وات نیست""]"
53182,681083,هدفون کم مدل 1000,AC,3037692,0,0,verified,not_recommended,افتضاح بود,هدفونی ک برای من آوردن پاره بود و یه گوشی اش ا...,NaN,NaN
53186,724421,کیف بازویی موبایل مناسب برای گوشی 6 اینچ,AC,779334,0,0,verified,recommended,به اندازه کافی خوبه,کیف بازویی خوبیه \r\nمن برای دوچرخه سواری ،دوی...,"[""ارزون\r"",""کیفیت مناسب""]",NaN
53188,716840,\tساعت مچی عقربه ای زنانه والار مدل 002,FA,7851933,0,0,verified,recommended,کیفیت ساعت,من خیلی ازش راضیم.عالیه.,"[""باکیفیت وزیباست‌.""]",NaN
99999,451791,ماژیک علامت گذار 6 رنگ اسکای مدل S-905,MA,3397901,0,0,verified,no_idea,مارکر,من خریدم و راضی بودم ولی متاسفانه یکی از مارکر...,NaN,NaN

In [17]:
review_df[review_df['product_id'] == 406523]

,product_id,product_title,title_en,user_id,likes,dislikes,verification_status,recommend,title,comment,advantages,disadvantages
38121,406523,مجموعه قاشق، چنگال و چاقو سفری مدل K603,TS,722776,0,0,verified,\N,بی کیفیت,نه کیفیت فلزش خوبه نه کیفیت ساختش مکانیزم داخی...,NaN,NaN
74156,406523,مجموعه قاشق، چنگال و چاقو سفری مدل K603,TS,764992,0,0,verified,recommended,کار راه انداز,"کاربردی است , جنس در برابر قیمت قابل قبول است ...",NaN,NaN

In [18]:
order_hist_df[order_hist_df['product_id'] == 406523]

,order_id,user_id,variant_id,product_id,quantity,price,date,city_id,city_name,state_id,state_name
0,262108413,SlcW7YT835JSzh22o7zRCA==,922274,406523,1,139000,2018-08-20 23:59:02,1698,تهران,9,تهران
1287,262087149,btMCC1KIEY+gse42GnAcxA==,922274,406523,1,139000,2018-08-20 22:51:54,1698,تهران,9,تهران
18129,261674961,5fuehPrY+8b+2hIvyo8gUA==,625920,406523,1,145000,2018-08-20 03:13:52,2307,کرمانشاه,23,کرمانشاه
53229,261026385,lMXqMGR+QlCaaPIB/36fNg==,922274,406523,1,139000,2018-08-18 19:49:04,1698,تهران,9,تهران
73293,260748129,m3COlvzqUGVat+Gx+Lglnw==,922274,406523,1,139000,2018-08-18 01:25:57,1698,تهران,9,تهران
85106,260602389,PKJkMVorkhhVIZHCrChnfw==,922274,406523,1,139000,2018-08-17 17:41:26,1704,رباط کریم,9,تهران
135246,259827681,wA+MUb8JeV/+sjAvPZaXjg==,1194993,406523,1,139000,2018-08-14 23:45:24,1698,تهران,9,تهران
167077,259329945,AF9uKWFA14wTaSdwgU2vHw==,922274,406523,1,139000,2018-08-13 14:12:59,1698,تهران,9,تهران
194158,258928221,Bbq6w9maaIYWhEXQHp4n5Q==,922274,406523,1,139000,2018-08-12 12:35:51,1698,تهران,9,تهران

In [21]:
order_hist_df['user_id'].unique().size

56104

In [22]:
review_df['user_id'].unique().size

56692